


@{
    ViewBag.Title = "公告新增";
}

<h1 class="text-lg-center tc tf"><strong>新增公告</strong></h1>
<form action="@Url.Action("Create")" method="post">
    <div class="container justify-content-center col-6">
        <div class="form-horizontal">
            <hr />

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">公告編號@*@Html.DisplayNameFor(model => model.a_id)*@</span>
                </div>
                <input id="a_id" name="a_id" class="form-control" type="text" @*value="@ViewBag.a_id"*@ placeholder="輸入編號" required />
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">西元 日期 時間</span>
                </div>
                <input type="text" id="a_date" name="a_date" class="form-control" placeholder="輸入日期" required>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">內容</span>
                </div>
                <input type="text" id="a_content" name="a_content" class="form-control" placeholder="輸入內容" required>
            </div>

            <div class="input-group flex-wrap form-group">
                <div class="input-group-prepend tw">
                    <span class="input-group-text flex-fill justify-content-center">是否顯示</span>
                </div>
                <input type="text" id="a_display" name="a_display" class="form-control" placeholder="T / F" required>
            </div>

            <div class=" justify-content-center col-12 row">
                <div class="">
                    <input type="submit" value="新增" class="btn btn-success btn-lg tf" style="font-size:20px" />
                </div>
                <br />
                <div class="">
                    @Html.ActionLink("返回前頁", "Index", null, new { @class = "btn btn-primary btn-lg tf", @style = "font-size:20px" })
                </div>
            </div>
        </div>
    </div>
</form>


